snippet mvh "Med vennlig hilsen" b
Med vennlig hilsen,
Bjørn Gilstad
endsnippet

snippet fu "Fuck you" b
Det var trist at du ikke delte mitt syn i denne saken, men jeg er fremdeles uenig med det.


Med vennlig hilsen,
Bjørn Gilstad
endsnippet

snippet drh "Dra til helvete" b
Jeg syns ikke noe om at du $1, og vil ikke kommunisere med deg videre.

$1

Med vennlig hilsen,
Bjørn Gilstad
endsnippet
